.about-wrapper{
    display:grid;
    color:red;
    grid-gap:10px 10px;
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:20px;
    margin-right:20px;
    .item{
        background: #fff;
        border:1px solid #fff;
    }
}